extends layout

block content
    h1=title

    if user
        form(method='POST')
            div.form-group
            p Are you sure you want to sign out?
            button.btn.btn-primary(type='submit') Confirm

    else
        p You must sign in before you can sign out.
        a(href='/board/user/sign-out') Sign Out 

    if errors
        ul
            for error in errors
                li!= error.msg

